[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
behave = "*"
google-cloud-storage = "*"
paramiko = "*"
pgpy = "*"
pika = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
